main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

select {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    border: none;
    outline: none;
    border-radius: 3px;
}

fieldset {
    font-size: 25px;
    margin: 15px 0px;
}